In [1]:
from mysql.connector import (connection)

In [3]:
cnx = connection.MySQLConnection(user='kavitha', password='root123',
                              host='127.0.0.1',
                              database='web_scraping')

In [4]:
cnx.

In [7]:
import mysql.connector
from mysql.connector import errorcode

try:
  cnx = mysql.connector.connect(user='kavitha', password='root123',
                              host='127.0.0.1',
                              database='web_scraping')
  print("connection good")
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)
else:
  cnx.close()

Something is wrong with your user name or password

In [16]:
import mysql.connector
from __future__ import print_function
from datetime import date, datetime, timedelta
config = {
 'user':'kavitha', 
 'password':'root123',
  'host':'127.0.0.1',
 'database':'web_scraping',
  'raise_on_warnings': True
}

cnx = mysql.connector.connect(**config)

In [17]:
cursor = cnx.cursor()

now =  datetime.now()

today_now = now.strftime("%Y-%m-%d %H:%M:%S")
today_now

'2020-05-12 18:15:34'

In [18]:

add_quote = ("INSERT INTO web_scraping.quotes2"
               "(quote, author, tags, last_upd_timestampquotes) "
               "VALUES (%s, %s, %s, %s)")

In [9]:
data_quote = ('my life my rules i love it', 'kavitha', 'life', today_now)

# Insert new employee
result = cursor.execute(add_quote, data_quote)
cnx.commit()

None

In [19]:
cursor

In [23]:
query = ("SELECT quote, author, tags, last_upd_timestampquotes FROM web_scraping.quotes2")
#          "WHERE hire_date BETWEEN %s AND %s")

# hire_start = datetime.date(1999, 1, 1)
# hire_end = datetime.date(1999, 12, 31)

cursor.execute(query)
print(result)

for (quote, author, tags, last_upd_timestampquotes) in cursor:
  print("{}, quote is written by {} \n and classified into {} on {:%d %b %Y}".format(
   quote, author, tags, last_upd_timestampquotes))

None
hi, quote is written by me
 and classified into sadasd on 12 May 2020
my life my rules i love it, quote is written by kavitha
 and classified into life on 12 May 2020
my life my rules122, quote is written by kavitha
 and classified into life on 12 May 2020
my life my rules12312, quote is written by kavitha
 and classified into life on 12 May 2020

In [ ]:
CREATE TABLE web_scraping.Quotes (
    quote varchar (500) NOT NULL PRIMARY KEY,
    author varchar(255) NOT NULL,
    tags varchar(255),
    last_upd_timestampquotes timestamp
     
);

In [ ]:
alter TABLE web_scraping.Quotes 
ADD last_upd_timestampquotes timestamp;

In [ ]:
SELECT * FROM web_scraping.quotes2;

INSERT INTO `web_scraping`.`quotes2`
(`quote`,
`author`,
`tags`,
`last_upd_timestampquotes`)
VALUES
('hi', 'me', 'sadasd', current_timestamp());