In [1]:
from mysql.connector import (connection)

In [2]:
cnx = connection.MySQLConnection(user='kavitha', password='root123',
                              host='127.0.0.1',
                              database='web_scraping')

In [4]:
?cnx

In [14]:
import mysql.connector
from mysql.connector import errorcode

try:
  cnx = mysql.connector.connect(user='kavitha', password='root123',
                              host='127.0.0.1',
                              database='web_scraping')
  print("connection good")
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)
else:
  cnx.close()

connection good

In [15]:
import mysql.connector
from __future__ import print_function
from datetime import date, datetime, timedelta
config = {
 'user':'kavitha', 
 'password':'root123',
  'host':'127.0.0.1',
 'database':'web_scraping',
  'raise_on_warnings': True
}

cnx = mysql.connector.connect(**config)

In [18]:
cursor = cnx.cursor()

now =  datetime.now()
print(now)
today_now = now.strftime("%Y-%m-%d %H:%M:%S")
today_now

2020-05-12 19:54:00.307302

'2020-05-12 19:54:00'

In [19]:

add_quote = ("INSERT INTO web_scraping.quotes3"
               "(quote, author, tags, last_upd_timestamp) "
               "VALUES (%s, %s, %s, %s)")

In [22]:
data_quote = ('my life my rules', 'kavitha', 'life', today_now)

# Insert new quote
result = cursor.execute(add_quote, data_quote)
cnx.commit()

In [ ]:
cursor

In [23]:
query = ("SELECT quote, author, tags, last_upd_timestamp FROM web_scraping.quotes3")
#          "WHERE hire_date BETWEEN %s AND %s")

# hire_start = datetime.date(1999, 1, 1)
# hire_end = datetime.date(1999, 12, 31)

cursor.execute(query)

for (quote, author, tags, last_upd_timestamp) in cursor:
  print("{}, quote is written by {} \tand classified into {} updated on {:%d %b %Y}".format(
   quote, author, tags, last_upd_timestamp))

math is fun, quote is written by wolffromalpha 	and classified into math, fun updated on 12 May 2020
math is not fun, quote is written by wolffromalpha 	and classified into math, notfun updated on 12 May 2020
my life my rules, quote is written by kavitha 	and classified into life updated on 12 May 2020
my life my rules i love it, quote is written by kavitha 	and classified into life updated on 12 May 2020

In [ ]:
CREATE TABLE web_scraping.Quotes (
    quote varchar (500) NOT NULL PRIMARY KEY,
    author varchar(255) NOT NULL,
    tags varchar(255),
    last_upd_timestampquotes timestamp
     
);

In [ ]:
alter TABLE web_scraping.Quotes 
ADD last_upd_timestampquotes timestamp;

In [ ]:
SELECT * FROM web_scraping.quotes2;

INSERT INTO `web_scraping`.`quotes2`
(`quote`,
`author`,
`tags`,
`last_upd_timestampquotes`)
VALUES
('hi', 'me', 'sadasd', current_timestamp());